/* .navbar {
    width: calc(100% - 20rem);
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding-top: var(--spacing-xl);
    background-color: white;

}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

}

.container {
    margin-left: 20rem;
    padding-top: 100px;
}

.main {
    margin: 1.5rem 3rem;
    height: 100%;
}

@media screen and (max-width : var(--breakpoint-sm)) {
    .sidebar {
        left: -10rem;
    }
} */

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 1;
}

.sidebar {
    width: 20rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: left 0.3s ease;
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    -ms-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
}

.container {
    padding-top: 100px;
    transition: margin-left 0.3s ease;
}

.main {
    height: 100%;
}



@media screen and (max-width: 678px) {

    .navbar {
        width: 100%;
    }

    .sidebar {
        width: 15rem;
        left: -20rem;

    }

    .navbar {
        padding: var(--spacing-lg);
    }

    .main {
        margin: 0 1.5rem;
    }

}

@media screen and (min-width: 768px) {


    .main {
        margin: 1.5rem 2rem;
    }

    .sidebar {
        left: -20rem;
    }

    .navbar {
        padding: var(--spacing-xl);
    }

}

@media screen and (min-width: 1200px) {
    .container {
        margin-left: 20rem;
    }

    .main {
        margin: 1.5rem 3rem;
    }

    .sidebar {
        width: 20rem;
        left: 0;

    }

    .navbar {
        padding: var(--spacing-xl);
    }

}