.label {
    font-size: var(--font-size-base);
    color: var(--text-color-primary);
    font-weight: 400;
}

.input,
.TextArea,
select {
    font-size: var(--font-size-base);
    border: 1px solid var(--complementary-color);
    border-radius: var(--spacing-xs);
    -webkit-border-radius: var(--spacing-xs);
    -moz-border-radius: var(--spacing-xs);
    -ms-border-radius: var(--spacing-xs);
    -o-border-radius: var(--spacing-xs);
    padding: var(--spacing-sm);
    width: 100%;
}


.kategori {
    color: rgb(208, 208, 208);
}

::placeholder {
    font-size: 14px;
    color: var(--text-color-secondary);
}

.layout {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-sm);
    margin-bottom: var(--spacing-lg);

}

.bintang {
    color: red;
    font-weight: bold;
}

.TextArea ::placeholder {
    padding: 1rem;
}

.TextArea {
    height: 12rem;
    resize: none;
}


/* costum */


.inputpdf {
    display: none;
}



.pdfbtns:hover {
    background-color: var(--secondary-color);
}



.labelpdf {
    color: var(--text-color-primary);
}

.text {
    color: var(--text-color-secondary);
}

.layoutPdfs {
    display: flex;
}

@media screen and (max-width:767px){
    .textpdf {
        border: 1px solid var(--complementary-color);
        border-left: none;
        text-align: left;
        font-size: 0.85rem;
        padding: 0.25rem 0.75rem;
        width: 100%;
        border-radius: 0 0.5rem 0.5rem 0;
        -webkit-border-radius: 0 0.5rem 0.5rem 0;
        -moz-border-radius: 0 0.5rem 0.5rem 0;
        -ms-border-radius: 0 0.5rem 0.5rem 0;
        -o-border-radius: 0 0.5rem 0.5rem 0;
    }
    .pdfbtns {
        border: none;
        padding: 0.5rem 1rem;
        background-color: var(--primary-color);
        color: white;
        font-size: 1rem;
        border-radius: 0.5rem 0 0 0.5rem;
        -webkit-border-radius: 0.5rem 0 0 0.5rem;
        -moz-border-radius: 0.5rem 0 0 0.5rem;
        -ms-border-radius: 0.5rem 0 0 0.5rem;
        -o-border-radius: 0.5rem 0 0 0.5rem;
        transition: var(--trantition);
        -webkit-transition: var(--trantition);
        -moz-transition: var(--trantition);
        -ms-transition: var(--trantition);
        -o-transition: var(--trantition);
    }
    
}
@media screen and (min-width:768px){
    .textpdf {
        border: 1px solid var(--complementary-color);
        border-left: none;
        text-align: left;
        font-size: 1rem;
        padding: 0.9rem 0.75rem;
        width: 100%;
        border-radius: 0 0.5rem 0.5rem 0;
        -webkit-border-radius: 0 0.5rem 0.5rem 0;
        -moz-border-radius: 0 0.5rem 0.5rem 0;
        -ms-border-radius: 0 0.5rem 0.5rem 0;
        -o-border-radius: 0 0.5rem 0.5rem 0;
    }
    .pdfbtns {
        border: none;
        padding: 0.75rem 3rem;
        background-color: var(--primary-color);
        color: white;
        font-size: 1rem;
        border-radius: 0.5rem 0 0 0.5rem;
        -webkit-border-radius: 0.5rem 0 0 0.5rem;
        -moz-border-radius: 0.5rem 0 0 0.5rem;
        -ms-border-radius: 0.5rem 0 0 0.5rem;
        -o-border-radius: 0.5rem 0 0 0.5rem;
        transition: var(--trantition);
        -webkit-transition: var(--trantition);
        -moz-transition: var(--trantition);
        -ms-transition: var(--trantition);
        -o-transition: var(--trantition);
    }
}