.label {
    font-size: var(--font-size-base);
    color: var(--text-color-primary);
    font-weight: 400;
}

.input,
.TextArea,
select {
    font-size: var(--font-size-base);
    border: 1px solid var(--complementary-color);
    border-radius: var(--spacing-xs);
    -webkit-border-radius: var(--spacing-xs);
    -moz-border-radius: var(--spacing-xs);
    -ms-border-radius: var(--spacing-xs);
    -o-border-radius: var(--spacing-xs);
    padding: var(--spacing-sm);
    width: 100%;
}


.kategori {
    color: white;
}

::placeholder {
    font-size: 14px;
    color: var(--text-color-secondary);
}

.layout {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-sm);
    margin-bottom: var(--spacing-lg);

}

.bintang {
    color: red;
    font-weight: bold;
}

.TextArea ::placeholder {
    padding: 1rem;
}

.TextArea {
    height: 12rem;
    resize: none;
}