.gallery {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.row {
  display: flex;
  scroll-snap-type: x mandatory;
}

.image {
  min-width: 20rem;
  height: 12rem;
  object-fit: cover;
  margin: 10px;
  scroll-snap-align: center;
  transition: transform 0.3s ease; 
}

.dragging {
  transform: scale(0.98); 
}
