.layout {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 2rem;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.088);
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    max-width: 100%;
  
}
.layout h5 , .layout h2{
   margin :0;
   padding: 0;
}
