.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 2.5rem;
    border-radius: 5px;
    row-gap: 1rem;
    width: 30rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modalHeader {
    display: flex;
    justify-content: center;
}

.modalBody {
    text-align: center;
    font-size: 1.15rem;
}

.modalFooter {
    display: flex;
    gap: 1rem;
}

.modalFooter button {
    font-weight: 600;
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    width: 100%;
    transition: var(--trantition);
    -webkit-transition: var(--trantition);
    -moz-transition: var(--trantition);
    -ms-transition: var(--trantition);
    -o-transition: var(--trantition);
}

.modalFooter button:active {
    transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    -o-transform: scale(0.96);
}

.true {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.false {
    background: none;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}