.navbar {
    display: flex;
    align-items: center;
    column-gap: var(--spacing-sm);

}

.nav {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
}

a:hover {
    color: var(--secondary-color);
}

@media screen and (max-width: 678px) {
    .nav {
        justify-content: space-between;

    }

    .icon {
        display: none;
    }

    .arrowIcon {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .nav {
        justify-content: space-between;

    }

}

@media screen and (min-width: 1200px) {
    .navbar {
        margin-left: 21rem;
    }

    .mobile {
        display: none;
    }
}