.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* Start from the left */
}

.content {
  background: white;
  z-index: 100;
  width: 300px;
  height: 100%;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(-1%);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -webkit-transform: translateX(-1%);
  -moz-transform: translateX(-1%);
  -ms-transform: translateX(-1%);
  -o-transform: translateX(-1%);
}

.contentright {
  transform: translateX(0);
}

.closeButton {
  background: black;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.contentHeader {
  display: flex;
  align-items: center;
}