.overlay {
  position: fixed;  
  inset: 0;
  z-index: 50;
  width: 1px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.content {
  display: flex;

}

/* .contentRight {
  top: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  transform: translateX(100%);
}

.openRight {
  transform: translateX(0);
} */


.closeButton {
  background: black;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.contentHeader {
  display: flex;
  align-items: center;
}