.costum {
    list-style: none;
    margin: 0;
    padding: 0;
}

.costum li {
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    border-radius: var(--spacing-sm);
    -webkit-border-radius: var(--spacing-sm);
    -moz-border-radius: var(--spacing-sm);
    -ms-border-radius: var(--spacing-sm);
    -o-border-radius: var(--spacing-sm);
}

.costum li:hover {
    background-color: var(--primary-color);
}

.costum li:hover h3 {
    color: var(--background-color);
}

.costum li:hover .icon {
    fill: var(--background-color);
}

.costum li a {
    text-decoration: none;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
}

.costum li .icon {
    width: var(--spacing-lg);
}




.link:hover,
.active {
    background-color: var(--primary-color);
}

.costum li .activeText {
    color: var(--background-color);
}


@media (max-width: var(--mobile)) {
    .wrap {
        margin-top: var(--spacing-xxl);

    }

    .costum li a {
        font-size: 12px;
    }

    /* .costum li a{
        padding: 1.15rem;
    } */
}

@media screen and (min-width: 768px) {
    .wrap {
        margin-top: var(--spacing-xl);
        margin-left: var(--spacing-md);
    }

    .costum li a {
        padding: 1.15rem;
    }

    .costum li h3 {
        font-weight: 400;
        margin: 0;
        font-size: var(--font-size-base);
        transition: var(--trantition);
        -webkit-transition: var(--trantition);
        -moz-transition: var(--trantition);
        -ms-transition: var(--trantition);
        -o-transition: var(--trantition);
    }
}

@media screen and (min-width: 1200px) {}