


@media screen and (max-width: 678px) {
    .wrapSidebar {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        align-items: center;
        height: 100%;

    } 

}


@media screen and (min-width: 679px) {
    .wrapSidebar {
    padding: var(--spacing-xl);
    background-color: var(--background-color2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

} 