.wrapSidebar {
    padding: var(--spacing-xl);
    background-color: var(--background-color2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


/* 
@media screen and (max-width: 678px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {} */