.timBox{
    background-image: url("/public/iconLayanan/layanan.svg");
    padding-top: 7rem;
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timBox h1{
    font-family: 'butler';
    color: var(--primary-color);
    font-weight: 600;
    font-size: 3rem;
}